h1{
    /*Pongo el color en rojo*/
    color:red;
}

h2{
    /*Pongo el color en azul*/
    color:blue;
}

p,li{
    /*Pongo el color en verde*/
    color:green;
}

a:link{
    color: blue;
}

a:visited{
    color:red;
}

a:hover{
    background-color: yellow;
    text-decoration:none;
}

ul{
    list-style: upper-roman;
}

ol{
    list-style-type: none;
}

.numeros_romanos{
    list-style: upper-roman;
    font-size: 20px;
}

.abecedario{
    list-style-type: lower-alpha;
}