h1{
    /*Pongo el color en rojo*/
    color:red;
}

h2{
    /*Pongo el color en azul*/
    color:blue;
}

p,li{
    /*Pongo el color en verde*/
    color:green;
}

a:link{
    color: blue;
}

a:visited{
    color:red;
}

a:hover{
    background-color: yellow;
    text-decoration:none;
}

ul{
    list-style: upper-roman;
}

ol{
    list-style-type: none;
}

.numeros_romanos{
    list-style: upper-roman;
    font-size: 20px;
}

.abecedario{ /*Clase*/
    list-style-type: lower-alpha;
}

#unh2concreto{ /*id*/
    color: gold;
}

ol li{ /*Cualquier li que se encuentre dentro de un ol será modificadp */
    font-size:48px;
}

.elementos_azules{
    color: blue;
}

.lista_none{
    list-style-type: none;
    color: red;
}

.lista_circle{
    list-style-type: circle;
    color: green;
}

.lista_square{
    list-style-type: square;
    color: gold;
}
´
.lista_disc{
    list-style-type: disc;
    color: blue;
}