h1{
    /*Pongo el color en rojo*/
    color:red;
}

h2{
    /*Pongo el color en azul*/
    color:blue;
}

p,li{
    /*Pongo el color en verde*/
    color:green;
}

a:link{
    color: blue;
}

a:visited{
    color:red;
}

a:hover{
    text-decoration:none;
}